@model estudosabado.Models.Movie

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.NameMovie</h1>
<h2>Nota: @Model.RateMovie</h2>
<h2>Ano: @Model.YearMovie</h2>

